{{define "content"}}
<article>
  <h1>Search</h1>
  <div id="search-results">
  {{if .Query}}
    <p>Results for <strong>{{.Query}}</strong></p>
  {{else}}
    <p>Enter a query in the search box.</p>
  {{end}}

  {{if .Results}}
    <ul class="result-list">
      {{range .Results}}
      <li>
        <a href="/wiki/{{.Slug}}">{{.Title}}</a>
        {{if .Snippets}}
          {{range .Snippets}}
          <p class="excerpt">{{highlightSnippet .}}</p>
          {{end}}
        {{else if .Excerpt}}
          <p class="excerpt">{{.Excerpt}}</p>
        {{end}}
      </li>
      {{end}}
    </ul>
  {{else if .Query}}
    <p>No results found.</p>
  {{end}}
  </div>
</article>
{{end}}
